# virtualenv
venv/
.venv/

# models / checkpoints
models/
models.AgentA/
*.pt
*.pth
*.ckpt

# caches, temp
__pycache__/
.pytest_cache/
.hypothesis/
*.ipynb_checkpoints

# build / artifacts
build/
dist/
*.egg-info/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# logs
*.log
logs/
